<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gosu.Backlog</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    @RenderSection("styles", required: false)
</head>
<body class="container">
    
    <section id="page-body">
        @RenderBody()
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
